.course-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 350px;
	margin-right: 30px;

	.course {
		background-color: #e6e6e6;
	
		.course-title {
			text-align: center;
			font-size: 20px;
		}
		.course-img-cont {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 200px;
			width: 230px;
	
			.course-img {
				width: 230px;
				border-radius: 5px;
			}
		}
	}
	.course:hover {
		cursor: pointer;
		transform: scale(1.015);
	}
	.course-options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 140px;
		margin-top: 20px;

		.options-form {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.build-btn {
			background-color: #84c011;
			margin-top: 7px;
		}
	}
}
